body{
  margin: 0;
  padding: 0;
}
.hero-image-div{
  /* background-color: red; */
  height: 100vh;
  padding: 0;
  text-align: center;

}
.hero-info-div{
  background-color: yellow;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;

}
.logo-image{
  height: 100%;
}
.header-contact{
  padding: 10% 15%;
  text-align: center;
}
.header-contact-button{
  margin: 2%;
}
.header-contact-hero-h4{
  padding: 5% 5%;
}
.hero-info{
  padding: 2% 0;
  font-size: 1.5em;
}
