body{
  margin: 0;
}
.logo-image{
  width: 18%;
  height: 28%;
  display: inline-block;
}
.logo-image-div{
  text-align: left;
}
.hero{
  text-align: center;
  padding: 0 15%;
}
h1{
  font-size: 4em;
  display: inline-block;
}
.hero-h3{
  padding: 2% 0;
  font-size: 2em;
}
.hero-h2{
  padding: 4% 0;
  font-size: 2em;
}
.hero-h4{
  padding: 2% 0;
  font-size: 1.5em;
}
